@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin:0px;
    padding:0px;
    font-family: 'Roboto', sans-serif
}
.first-section{
    background-color: #1F2937;
    color: white;
}
.header{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-between;
    padding: 10px;
}
.header-logo{
    font-size: 24px;
    color: #F9FAF8;
    margin-bottom: 50px;
}
.navbar{
    display: flex;
    margin:50px;
    font-size: 18px;
}
ul{
    display: flex;
    list-style: none;
    gap:10px;
}
a{
    text-decoration: none;
    color:#E5E7EB;
}
.header-content{
    display: flex;
    justify-content: space-between;
    padding:50px;
}
.header-main{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.header-sub{
    font-size: 18px;
    color: #E5E7EB;
    padding: 10px;
}
.first-button{
    background-color: #3882F6;
    border-radius: 6px;
    padding: 6px 20px;
    border: none;
    color: white;
}
.second-section{
    margin:50px;
    text-align: center;
}
.h2{
    font-size:36px;
    font-weight:bolder;
    color:#1F2937;
    justify-content: center;
}
.box{
    justify-content: center;
}
.boxes{
    color:black;
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin: 20px 50px 200px 200px
}
.square{
    margin:10px;
    padding:10px;
    width:150px;
    height:150px;
    border:5px solid #3882F6;
    border-radius:10px;

}
.third-section{
    display: flex;
    flex-direction: column;
    padding: 200px;
    background-color:#E5E7EB;
}
.quote{
    color:#1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}
.author{
    color:black;
    align-self: flex-end;
    font-weight: bold;

}
.fourth-section{
    padding: 88px 177px;
}
.action-holder{
    color: #F9FAF8;
    border-radius: 8px;
    display: flex;
    background-color: #3882F6;
    padding:33px 77px;
    justify-content: space-around;

}
.second-button{
    border-radius: 6px;
    border: 2px solid white;
    color: white;
    background-color: #3882f6;
    padding: 6px 20px;
}
.footer{
    display: flex;
    padding: 50px;
    background-color:#1F2937;
    justify-content: center;
    color: white;
}

